<nav class="navbar bg-primary">
    <div class="navbar-wrap container">
        <a class="navbar-logo" href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="logo" class="logo"></a>
        <ul class="navbar-menu">
            <li class="navbar-item col-md-6"><a class="navbar-link" href="#">系列鏡框</a></li>
            <li class="navbar-item col-md-6"><a class="navbar-link" href="#">門市據點</a></li>
            <li class="navbar-item col-md-6"><a class="navbar-link" href="#">部落格</a></li>
            <li class="navbar-item col-md-6"><a class="navbar-link" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>